.canvas_factory_settings {
  height: 100vh;
  width: 100%;
  object-position: center;
}
.interiormaata {
  position: absolute;
  font-size: 3.5vw;
  font-family: "Roseritta";
  left: 5rem;
  color: #791125;
  bottom: 6rem;
}

.LivingRoom{
  position:absolute;
  font-size: 60px;
  font-family: "Roseritta";
  color: #CC7D45;
  left: 5rem;
  bottom: -137rem;
}

.paragraph{
  position: absolute;
    width: 25%;
    font-size: 21px;
    font-family: "NeueMontreal-Regular";
    color: #ffffff;
    right: 6rem;
    bottom: -169rem;
}

.bedRoom{
  position:absolute;
  font-size: 60px;
  font-family: "Roseritta";
  color: #CC7D45;
  right: 10rem;
  bottom: -315rem;
}
.paragraph1{
  position: absolute;
  width: 25%;
  font-size: 21px;
  font-family: "NeueMontreal-Regular";
  color: #ffffff;
 left:5rem;
  bottom: -341rem;
}
.outDoor{
  position:absolute;
  font-size: 60px;
  font-family: "Roseritta";
  color: #CC7D45;
  left:5rem;
  bottom: -548rem;
}

.text1 {
  position: absolute;
  font-size: 4.5vw;
  left: 5rem;
  font-family: "Roseritta";
  color: #ffffff;
  bottom: 10rem;
}

@media (min-width: 1600px) and (max-width: 1920px) {


  .canvas_factory_settings {
    object-fit: cover;
  }
  .interiormaata {
    position: absolute;
    left: 6rem;
    bottom: 10rem;
  }

  .LivingRoom{
    position:absolute;
    font-size: 70px;
    font-family: "Roseritta";

    left: 5rem;
    bottom: -137rem;
  }
  .paragraph{
    position: absolute;
    width: 25%;
    font-size: 21px;
    font-family: "NeueMontreal-Regular";
   
    right: 6rem;
    bottom: -169rem;
  }
  .bedRoom{
    position:absolute;
    font-size: 70px;
    font-family: "Roseritta";
   
    right: 10rem;
    bottom: -404rem;
  }

  .paragraph1{
    position: absolute;
    width: 25%;
    font-size: 21px;
    font-family: "NeueMontreal-Regular";
  
   left:5rem;
    bottom: -447rem;
  }

  .outDoor{
    position:absolute; 
    font-size: 60px;
    font-family: "Roseritta";

    left:5rem;
    bottom: -620rem;
  }
  
  .text1 {
    position: absolute;
    left: 6rem;
    line-height: 90px;
    font-family: "Roseritta";
    bottom: 15rem;
  }
}


@media(min-width:500px) and (max-width:200px){
  .canvas_factory_settings {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}