.blurred {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.popup {
  position: absolute;
  background: #86868645;
  left: 77%;
  top: 36%;
  padding: 10px;
  box-shadow: 0 0 10px rgb(86 86 86 / 43%);
  z-index: 1000;
}

.popup-item {
  padding: 5px 0;
}

.link_text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  border-bottom: 1px solid white;
}

.link_text:hover {
  color: #7f7047;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .popup {
    position: absolute;
    background: #86868645;
    left: 77%;
    top: 38%;
    padding: 10px;
    box-shadow: 0 0 10px rgb(86 86 86 / 43%);
    z-index: 1000;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .popup {
    position: absolute;
    background: #86868645;
    left: 39%;
    top: 56%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(86 86 86 / 43%);
    z-index: 1000;
  }
  .link_text {
    color: rgb(255, 255, 255);
    font-size: 22px;
    border-bottom: 1px solid white;
  }
}
