.introduction {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99999;
  background-color: #cc7d45;
}

.logoImageOuter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logoImage {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%;
  height: auto;
  /* width: 6vw; */
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .logoImage {
    height: auto;
    /* width: 6vw; */
  }
}

@media (min-width: 521px) and (max-width: 1024px) {
  .logoImage {
    height: auto;
    /* width: 8.5vw; */
  }
}

@media (min-width: 200px) and (max-width: 520px) {
  .logoImage {
    height: auto;
    /* width: 14vw; */
  }
}
