.introduction {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color:#AE7B56;
  }
  .introduction svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
  }
  .introduction svg path {
    fill: #AE7B56;
  }
  .introduction .text {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 5.5vw;
    gap: 1rem;
    text-transform: uppercase;
    font-family: "NeueMontreal-Regular";
    align-items: center;
    position: absolute;
    z-index: 1;
  }