.onlineConsultancy {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.onlineConsultancy_Innersection {
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainsection {
  width: 62%;
}

.onlineConsultancy_section {
  background-color: #d4d4d4;
}

.topButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 1rem;
}

.btn1 {
  background-color: #cc7d45;
  border: none;
  color: white;
  font-family: "NeueMontreal-Regular";
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.44px;
  text-transform: capitalize;
  word-wrap: break-word;
  padding: 0.9rem 4rem;
}

.btn2 {
  background-color: #7f7047;
  border: none;
  color: white;
  font-size: 22px;
  font-family: "NeueMontreal-Regular";
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.44px;
  padding: 0.9rem 4rem;
  text-transform: capitalize;
  word-wrap: break-word;
}
.btn3 {
  background-color: #8d4c1e;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-family: "NeueMontreal-Regular";
  font-weight: 400;
  letter-spacing: 0.44px;
  padding: 0.9rem 4rem;
  text-transform: capitalize;
  word-wrap: break-word;
}

.contentSection {
  padding: 2rem 4rem 4rem;
  display: flex;
  font-family: "NeueMontreal-Regular";
  justify-content: space-around;
}

.textSection {
  width: 65%;
}

.onlineConsultancy_section_title {
  font-size: 54px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.onlineConsultancy_section_text {
  width: 80%;
  font-size: 24px;
  font-weight: 300;
  font-family: "NeueMontreal-Light";
  /* text-transform: capitalize; */
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin: 2rem 0;
}

.title {
  margin: 0;
}

.onlineConsultancy_section_btn {
  background-color: transparent;
  width: fit-content;
  font-family: "NeueMontreal-Regular";
  font-size: 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: capitalize;
  padding: 0.7rem 2.6rem;
  float: left;
  margin: 1rem 0;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.onlineConsultancy_section_btn:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb56;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  color: black;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.onlineConsultancy_section_btn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.onlineConsultancy_section_btn:after {
  background-color: #ffffff;
}
.onlineConsultancy_section_btn span {
  position: relative;
}

.onlineConsultancy_section_btn span:before {
  color: black;
}

.onlineConsultancy_section_btn:hover {
  color: rgb(0, 0, 0);
}

.imageSection {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection img {
  height: auto;
  object-fit: contain;
}
.accordian_section {
  display: none;
}

@media screen and (min-width: 1500px) {
  .onlineConsultancy_section_btn {
    font-size: 20px;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .contentSection {
    padding: 2rem 4rem 6rem;
    display: flex;
    font-family: "NeueMontreal-Regular";
    justify-content: space-around;
  }

  .topButtons {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 1rem;
  }

  .onlineConsultancy_section_title {
    font-size: 70px;

  }
}

@media (max-width: 1440px) {
  .onlineConsultancy_Innersection {
    padding: 0rem;
  }

  .mainsection {
    width: 65%;
  }

  .onlineConsultancy_section {
    background-color: #d4d4d4;
    border-radius: 25px;
  }

  .topButtons {
    display: flex;
    justify-content: space-evenly;
    padding: 3.5rem 1rem;
  }

  .btn1 {
    border-radius: 48px;
    font-size: 20px;
    letter-spacing: 0.42px;
    width: 200px;
    height: 49px;
  }

  .btn2 {
    border-radius: 48px;
    font-size: 20px;
    letter-spacing: 0.42px;
    width: 200px;
    height: 49px;
  }
  .btn3 {
    border-radius: 48px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.42px;
    width: 200px;
    height: 49px;
  }

  .contentSection {
    padding: 2rem 4rem 5rem;
  }

  .textSection {
    width: 50%;
  }

  .onlineConsultancy_section_title {
    font-size: 48px;
    letter-spacing: 1.08px;
  }

  .onlineConsultancy_section_text {
    width: 300px;
    font-size: 21px;
    letter-spacing: 0.44px;
    margin: 2rem 0;
  }

  .onlineConsultancy_section_btn {
    font-size: 20px;
    padding: 0.7rem 2.6rem;
    margin: 2rem 0;
  }

  .imageSection {
    width: 50%;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageSection img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

/* -----------------------------1199px--------------------------------- */
@media (max-width: 1199px) {
  .onlineConsultancy_Innersection {
    padding: 0rem;
  }

  .mainsection {
    width: 65%;
  }

  .onlineConsultancy_section {
    background-color: #d4d4d4;
    border-radius: 25px;
  }

  .topButtons {
    padding: 2.5rem 0.5rem;
  }

  .btn1 {
    border-radius: 48px;
    font-size: 17px;
    letter-spacing: 0.4px;
    width: 170px;
    height: 46px;
  }

  .btn2 {
    border-radius: 48px;
    font-size: 17px;
    letter-spacing: 0.4px;
    width: 170px;
    height: 46px;
  }
  .btn3 {
    border-radius: 48px;
    font-size: 17px;
    letter-spacing: 0.4px;
    width: 170px;
    height: 46px;
  }

  .contentSection {
    padding: 1rem 2rem 5rem;
  }

  .onlineConsultancy_section_title {
    font-size: 40px;
    letter-spacing: 1.08px;
  }

  .onlineConsultancy_section_text {
    width: 250px;
    font-size: 18px;
    letter-spacing: 0.44px;
    margin: 1.5rem 0;
  }

  .onlineConsultancy_section_btn {
    font-size: 11px;
    padding: 0.6rem 2.2rem;
    margin: 2rem 0;
  }

  .imageSection img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

/* -----------------------------992px--------------------------------- */
@media (max-width: 992px) {
  .onlineConsultancy_Innersection {
    padding: 0rem;
  }

  .mainsection {
    width: 70%;
  }

  .onlineConsultancy_section {
    background-color: #d4d4d4;
    border-radius: 25px;
  }

  .topButtons {
    padding: 2rem 0.4rem;
  }

  .btn1 {
    border-radius: 48px;
    font-size: 14px;
    letter-spacing: 0.4px;
    width: 150px;
    height: 39px;
  }

  .btn2 {
    border-radius: 48px;
    font-size: 14px;
    letter-spacing: 0.4px;
    width: 150px;
    height: 39px;
  }
  .btn3 {
    border-radius: 48px;
    font-size: 14px;
    letter-spacing: 0.4px;
    width: 150px;
    height: 39px;
  }

  .contentSection {
    padding: 1rem 1.5rem 5rem;
  }

  .onlineConsultancy_section_title {
    font-size: 34px;
    letter-spacing: 1.08px;
  }

  .onlineConsultancy_section_text {
    width: 200px;
    font-size: 16px;
    letter-spacing: 0.44px;
    margin: 1rem 0;
  }

  .onlineConsultancy_section_btn {
    font-size: 10px;
    padding: 0.5rem 2rem;
    margin: 2rem 0;
  }

  .imageSection img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

/* -----------------------------768px--------------------------------- */
@media (max-width: 768px) {
  .onlineConsultancy {
    padding-top: 6rem;
    padding-bottom: 0rem;
  }
  .onlineConsultancy_Innersection {
    display: none;
    /* background-color: #D4D4D4; */
  }

  .accordian_section {
    display: block;
    padding: 2rem 4rem;
    background-color: #d4d4d4;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .onlineConsultancy {
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
}
